mixin tableHeaders(headers)
    thead
        tr
            each header in headers
                th= header

mixin tableRows(rowValues, prefix, exclude)
    each value, index in rowValues
        tr
            each val, prop in value
                if prop !== exclude
                    td= val
            td.button-actions
                a(href="#")
                    i.fa.fa-edit.fa-lg
                a(href="#")
                    i.fa.fa-times.fa-lg
                a(href="/#{prefix}/details/#{index}")
                    i.fa.fa-arrow-circle-right.fa-lg
